Cliente/Connected Services/ServiceReference/BevososService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BevososService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BevososService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePictureId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
  <xs:complexType name="ArrayOfFriendDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendDTO" nillable="true" type="tns:FriendDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendDTO" nillable="true" type="tns:ArrayOfFriendDTO" />
  <xs:complexType name="FriendDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendId" type="xs:int" />
      <xs:element minOccurs="0" name="FriendName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendshipId" type="xs:int" />
      <xs:element minOccurs="0" name="IsConnected" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProfilePictureId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendDTO" nillable="true" type="tns:FriendDTO" />
  <xs:complexType name="ArrayOfFriendRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequestDTO" nillable="true" type="tns:FriendRequestDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequestDTO" nillable="true" type="tns:ArrayOfFriendRequestDTO" />
  <xs:complexType name="FriendRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendRequestId" type="xs:int" />
      <xs:element minOccurs="0" name="ProfilePictureId" type="xs:int" />
      <xs:element minOccurs="0" name="SenderId" type="xs:int" />
      <xs:element minOccurs="0" name="SenderName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequestDTO" nillable="true" type="tns:FriendRequestDTO" />
  <xs:complexType name="ArrayOfBlockedDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlockedDTO" nillable="true" type="tns:BlockedDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlockedDTO" nillable="true" type="tns:ArrayOfBlockedDTO" />
  <xs:complexType name="BlockedDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlockId" type="xs:int" />
      <xs:element minOccurs="0" name="BlockedId" type="xs:int" />
      <xs:element minOccurs="0" name="BlockerUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePictureId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlockedDTO" nillable="true" type="tns:BlockedDTO" />
</xs:schema>